.env
.env.*.php
.env.php
auth.json

.DS_Store
.idea/
.vscode/
nbproject
.claude
.cpanel/

composer.phar
/vendor
/vendor_drm
.phpunit.result.cache
_ide_helper.php
.phpstorm.meta.php

/node_modules
/modules/system/node_modules
package-lock.json
.vite

php_errors.log
php-errors.log
nginx-error.log
nginx-access.log
nginx-ssl.access.log
nginx-ssl.error.log
sftp-config.json
.ftpconfig
selenium.php

php.ini
.user.ini

/bootstrap/compiled.php

/storage/logs/*
!/storage/logs/.gitignore

/storage/framework/views/*
/storage/framework/cache/*
/storage/framework/sessions/*
!/storage/framework/.gitignore

/storage/temp/*
!/storage/temp/.gitignore

/storage/cms/cache/*
/storage/cms/twig/*
/storage/cms/combiner/*
!/storage/cms/.gitignore

/storage/app/resources/resize/*
!/storage/app/.gitignore
!/storage/app/media/.gitignore
!/storage/app/uploads/public/.gitignore

*.zip
*.sql
