description = "Home ribbon"
==
<section class="ribbon-band">
    <div class="container ribbon-grid four">
        <div class="ribbon-item"><strong>{% content 'home/ribbon-1-title.htm' %}</strong><span>{% content 'home/ribbon-1-copy.htm' %}</span></div>
        <div class="ribbon-item"><strong>{% content 'home/ribbon-2-title.htm' %}</strong><span>{% content 'home/ribbon-2-copy.htm' %}</span></div>
        <div class="ribbon-item"><strong>{% content 'home/ribbon-3-title.htm' %}</strong><span>{% content 'home/ribbon-3-copy.htm' %}</span></div>
        <div class="ribbon-item"><strong>{% content 'home/ribbon-4-title.htm' %}</strong><span>{% content 'home/ribbon-4-copy.htm' %}</span></div>
    </div>
</section>
